card:hover{box-shadow: 2px 2px 15px #fd9a6ce5;transform: scale(1.02)}.card .product-name{font-weight: 600}.card-body{padding-bottom: 0}.card .text-muted{font-size: 0.82rem}.card-img img{padding-top: 10px;width: inherit;height: 180px;object-fit: contain;display: block}

.crossed {
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
}